.bg-1 { 
    background-color: #444444;
    color: #ffffff;
}
.bg-2 { 
    background-color: #D8D8D8;
    color: #444444;
}
.topbottom-buffer {
  margin-top: 50px; 
  margin-bottom: 50px;
}
.container-600px {
  max-width: 600px;
}
body{ /* Normal  */
   font-size: 18px;
}
p {margin-bottom:1.5em}
#TOC li {
  font-size:14px;
}
